
.login{
	padding-top:240px;
	padding-left:550px;
	padding-bottom:197px;
	border:1px solid orange;
}

h3{
    color:blue;
    text-align:bold;
    font-size: 25px;	
}
input{
	padding: 5px 10px;
    margin: 4px 0;
    box-sizing: border-box;
	width: 25%;
}
input[type=password]{
	padding: 5px 10px;
    margin: 4px 14px;

}
button{
   background-color: gray;
   border: solid green;
   color: white;
   padding: 10px 25px;
   text-align: center;
   display: inline-block;
   font-size: 15px;	
}
.signin{
	padding: 0px 200px;
	
}
.logout{
	width:7%;
	padding: 10px 10px;
	margin-left:1340px;
	
}
h1{
	width:20%;
	padding: 200px 50px;
	margin-left:550px;
	color:orange;
}